{
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:jest/recommended"],
  "env": {
    "node": true,
    "es2021": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  }
}
